/*************************************************************************************************
 * Document
 *************************************************************************************************/

* {
  box-sizing: border-box;
}
[data-media-provider] {
  flex-shrink: 0;
  width: 100vw!important;
}


.ant-select {
  height: auto!important;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  max-width: 100%;
  margin-inline: auto;
}
